body {
    margin: 0;
}

.headerWrapper {
    width: 100%;
    height: 180px;
    border: solid black;
}

.topNavbar {
    height: 20%;
    width: 100%;
    border: solid blue;
}

.bottomNavbar {
    height: 80%;
    width: 100%;
    border: solid red;
}

.contentWrapper {
    width: 100%;
 
    border: solid green;
    display: flex;
    justify-content: center;
}

.mainContent {
    margin-top: 30px;
    width: 1180px;
    height: 70vh;
    border: solid purple;
}

.mainContentTop {
    height: 700px;
    width: 100%;
    border: solid orange;
}

.carouselRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: solid black;
    margin-bottom: 20px;
}

.carouselRowColumnOne {
width: 75%;
height: 300px;

}

.carousel {
    width: 870px;
    height: 300px;
    border: solid red;
}

.carouselRowColumnTwo {
    width: 25%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.carouselTopRight {
    width: 280px;
    height: 210px;
    border: solid rgb(10, 204, 222);
}

.carouselBottomRight {
    width: 280px;
    height: 60px;
    border: solid blue;
}

.sectionTitle {
    width: 100%;
    height: 45px;
    border: solid black;
}

.mainGridContent {
    display: flex;
    flex-wrap: wrap;
}

.newsBlock {
    height: 380px;
    width: 370px;
    border: solid black;
}