body {
    margin: 0;
    font-family: "Roboto",sans-serif;
    background-image: linear-gradient(to bottom, transparent 0%, #13191b 20%); 
    
}

#backgroundVid {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  .headerWrapper {
    width: 100%;
    height: 1080px;
    background-image: linear-gradient(to bottom, transparent 0%, #13191b 80%), url("https://static.warthunder.com/assets/6417ea1848ed628c46d5.png");
    
  }

.topWrap {
    width: 100%;
    height: 180px;
}

.topNavbar {
    height: 23%;
    width: 100%;
    background-color: #252525;
    display: flex;
    justify-content: space-between;
}

.bottomNavbar {
    height: 140px;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomNavbarRow {
    display: flex;
    align-items: center;
    width: 62%;
    height: 100%;
}

.ulWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.menuUl {
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 100%;
    font-size: 17px;
}

.menuLi {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cfd8dc;
    transition: color .3s ease;
    height: 100%;

}

.menuLi:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(229,57,53);
    transition: color .3s ease;
    border-bottom: 2px solid rgb(229,57,53);
    height: 100%;
}

.bottomLinkArrowWrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 4px;
}

.bottomLinkArrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 8px 0 7px;
    border-color: #cfd8dc transparent transparent transparent;
}

.warThunderLogoPic {
    width: 250px;
    opacity: 0.8;
}

.warThunderLogoImg {
    width: 205px;
    height: 105px;
}

.osRow {
    display: flex;
    width: 800px;
    justify-content: center;
    margin-bottom: 20px;

}

.osCell {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.osImg {
    filter:  invert(100%) brightness(50%) sepia(100%);
    -webkit-filter: invert(100%) brightness(70%) sepia(100%) hue-rotate(190deg) saturate(500%) opacity(30%);

}

.consoleRow {
    display: flex;
    width: 800px;
    justify-content: center;
}

.console {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-right: 30px;
}

.consoleImg {
    filter:  invert(100%) brightness(50%) sepia(100%);
    -webkit-filter: invert(100%) brightness(70%) sepia(100%) hue-rotate(190deg) saturate(500%) opacity(30%);

}

.bottomLinkRegister {
    width: 250px;
    display: flex;
    justify-content: right;
    
}

.bottomLinkTextRegister {
    width: 155px;
    height: 38px;
    border: 1px solid #e53935;
    background-color: rgba(229,57,53,.7);
    border-radius: 3px;
    color: #cfd8dc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.mainContentTop {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hideBoxRow {
    width: 62%;
    height: 90px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.hideButton {
    height: 43px;
    width: 43px;
    background-color: #263238;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #455a64;
}

.topRectangle {
    width: 25px;
    height: 12px;
    border: 2px solid #455a64;
    border-radius: 2px;
    margin-top: 1px;
}

.chevDown {
	border-style: solid;
	border-width: 2px 2px 0 0;
	content: '';
	display: inline-block;
	height: 5px;
    width: 5px;
	position: relative;
	top: -2px;
	transform: rotate(135deg);
    color: #455a64;
}

.rectangle {
    width: 25px;
    height: 2px;
    border: 2px solid #455a64;
    border-radius: 2px;
    margin-bottom: 1px;
}

.hideButton:hover, .rectangle:hover, .chevDown:hover, .topRectangle:hover {
    border: 1px solid #919191;
}

.warThunderBox {
    width: 55%;
    height: 400px;
    margin-top: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.warThunderBoxHide {
    display: none;
    width: 55%;
    height: 0px;
    margin-top:0px;
    transition: all .3s ease;
}

.warThunderBoxLogoImg {
    width: 505px;
    height: 290px;
}

.lowerButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 85px;
}

.registerNow {
    width: 375px;
    height: 70px;
    border: 1px solid #e53935;
    background-color: rgba(229,57,53,.7);
    border-radius: 3px;
    color: #cfd8dc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 30px;
}

.downloadGame {
    width: 375px;
    height: 50px;
    border: 1px solid #90a4ae;
    border-radius: 3px;
    color: #90a4ae;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-bottom: 30px;
}

.downloadGame:hover {
    width: 375px;
    height: 50px;
    border: 1px solid #5ca3c6;
    border-radius: 3px;
    color: #5ca3c6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-bottom: 30px;
}

.contentWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.mainContent {
    width: 1180px;
}

.mainGridContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    row-gap: 25px;
    column-gap: 29px;
}

.newsBlock {
    height: 380px;
    width: 370px;
    border: 1px solid #263035;
    display: flex;
    flex-direction: column;
    transition: background-size 1s ease;
    background-size: 100%;
    background-position: top;
}

.newsBlock:hover {
    height: 380px;
    width: 370px;
    border: 1px solid #919191;
    display: flex;
    flex-direction: column;
    transition: background-size 1s ease;
    background-size: 102%;
    background-position: top;
}

.sectionTitle {
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    display: flex;
    align-items: baseline;

}

.newsText {
    font-size: 26px;
    color: #cfd8dc;
}

.readMoreText {
    font-size: 16px;
    color: #4f7183;
    margin-left: 15px;
}

.newBottom {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: linear-gradient(to bottom, transparent 0%, #263035 58%);
}

.newBottomHeader {
    font-size: 22px;
    color: #cfd8dc;
    padding: 15px;
}

.newBottomText {
    font-size: 16px;
    height: 65px;
    color: #8da0aa;
    box-shadow: inset 0-35px 1px -25px #263035;
    padding: 15px;
}

.newBottomMessages {
    height: 30px;
    width: 100%;
    box-shadow: 0 -15px 15px -5px #263035;
    background-color: #263035;
}

.newBottomShrinkWrapper {
    width: 100%;
    height: 100%;
}

.newsBlockShrink, .newsBlockShrinkTop {
    height: 170px;
    width: 370px;
    border: 1px solid #263035;
    transition: background-size 1s ease;
    background-size: 100%;
    background-position: center center;
    background-position: top;
}

.newsBlockShrink:Hover, .newsBlockShrinkTop:hover {
    height: 170px;
    width: 370px;
    border: 1px solid #919191;
    transition: background-size 1s ease;
    background-size: 102%;
    background-position: center center;
}

.newBottomShrinkWrapperTop {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newBottomShrinkTop {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselTopRight {
    border: 1px solid #fb8c00;
    background-image: url('https://warthunder.com/assets/img/jpg/widget-shop_big.jpg');
    display: flex ;
    justify-content: center;
    align-items: end;
    transition: background-size 1s ease;
    background-size: 100%;
    background-position: center center;
}

.carouselTopRight:hover {
    border: 1px solid #fb8c00;
    background-image: url('https://warthunder.com/assets/img/jpg/widget-shop_big.jpg');
    display: flex ;
    justify-content: center;
    align-items: end;
    transition: all .3s ease;
    overflow: hidden;
    /* animation: zoomer 1s ease-in-out infinite; */
    box-shadow: 0 0 10px #fb8c00;
    transition: background-size 1s ease;
    background-size: 102%;
}

.newBottomShrinkTopL {
    width: 80%;
    height: 25%;
    font-size: 22px;
    color: #cfd8dc;
    position: relative;
    bottom: 5px;
    display: flex;
    justify-content: left;
    align-items: center;

}

.newBottomShrinkTopR {
    width: 10%;
    height: 25%;
    font-size: 22px;
    color: #cfd8dc;
    position: relative;
    bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter:  invert(100%) brightness(50%) sepia(100%);
    -webkit-filter: invert(100%) brightness(60%) sepia(50%) hue-rotate(190deg);

}

.newBottomShrinkL {
    width: 80%;
    height: 25%;
    font-size: 22px;
    color: #cfd8dc;
    position: relative;
    bottom: 5px;
    left: 15px;
    display: flex;
    justify-content: left;
    align-items: center;

}

.newBottomShrinkR {
    width: 10%;
    height: 25%;
    font-size: 22px;
    color: #cfd8dc;
    position: relative;
    bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter:  invert(100%) brightness(50%) sepia(100%);
    -webkit-filter: invert(100%) brightness(60%) sepia(50%) hue-rotate(190deg);

}

.BottomRightImgTop {
    height: 15px;
    width: 20px;
}

.BottomRightImg {
    height: 15px;
    width: 20px;
}

.newBottomShrinkBlank {
    width: 100%;
    height: 75%;
}

.newBottomShrinkBlankTop {
    width: 100%;
    height: 75%;
}

.newBottomShrinkBlankTop {
    width: 100%;
    height: 75%;
}

.newBottomShrink {
    width: 100%;
    height: 25%;
    font-size: 22px;
    color: #cfd8dc;
    position: relative;
    bottom: 5px;
    left: 15px;
    display: flex;
    justify-content: left;
    align-items: center;

}

.newWrapper {
    height: 380px;
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.readMoreWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.readMore {
    width: 370px;
    height: 45px;
    border: 1px solid #90a4ae;
    color: #90a4ae;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-top: 20px;
}

.left {
    height: 100%;
    width: 410px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 12px;
}

.right {
    height: 100%;
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 12px;
}

.link, .linkDropdown, .linkYellow, .signin, .language {
    color: #9a9a9a;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
}

.link:hover, .linkDropdown:hover, .gaijinDiv:hover{
    color: #d4d4d4;
    height: 100%;
    font-size: 13px;
    background-color: #343434;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.gaijinDiv{
    color: #9a9a9a;
    height: 100%;
    font-size: 13px;;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.gaijinDiv:hover{
    color: #d4d4d4;
    height: 100%;
    font-size: 13px;
    background-color: #343434;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.linkYellow {
    color: #cb9844;
}

.linkYellow:hover {
    color: #cb9844;
    height: 100%;
    font-size: 13px;
    background-color: #343434;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.linkDropdown {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chevron {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 15px;
}

.chevronDown {
	border-style: solid;
	border-width: 1px 1px 0 0;
	content: '';
	display: inline-block;
	height: 5px;
    width: 5px;
	position: relative;
	top: -2px;
	transform: rotate(135deg);
}

.carouselRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.carouselRowColumnOne {
width: 75%;
height: 300px;
}

.carousel {
    width: 870px;
    height: 300px;
    border: 1px solid #263035;
}

.carousel:hover {
    width: 870px;
    height: 300px;
    border: 1px solid #919191;
}

.carouselRowColumnTwo {
    width: 25%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.carouselBottomRight {
    width: 280px;
    height: 60px;
}

.slide1 {
    background-image: linear-gradient(to left, transparent 10%, #263439 90%), url("//static.warthunder.com/upload/image//%21%20new/carousel_674x309/france_ship_locked_e818613fb3e218365da5f5a5eb87ca97.jpg");
    width: 100%;
    height: 298px;
}

.slide2 {
    background-image: linear-gradient(to left, transparent 10%, #263439 90%), url("//static.warthunder.com/upload/image//%21%20new/carousel_674x309/spinner_centurion_mk2_99ef53105a96f7b53baf156ab3bfcb3c.jpg");
    width: 100%;
    height: 298px;
}

.slide3 {
    background-image: linear-gradient(to left, transparent 10%, #263439 90%), url("//static.warthunder.com/upload/image//%21%20new/carousel_674x309/catalina_880x330_4e97d25e27c1e73b4666f0e1af979cd8.jpg");
    width: 100%;
    height: 298px;
    /* animation: shift 1s ease-in-out; */
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
max-width: 1000px;
position: relative;
margin: auto;
}

/* Hide the images by default */
.mySlides {
display: none;
}

/* Caption text */
.text {
color: #cfd8dc;
font-size: 35px;
font-weight: bold;
position: relative;
bottom: 80px;
left: 50px;
width: 100%;
text-align: left;
}

.slideNav {
    display: flex;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 4px;
    width: 45px;
    margin: 0 2px;
    background-color: black;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    top: 40px;
    left: 40px;
}

.dot:hover {
    cursor: pointer;
    height: 4px;
    width: 45px;
    margin: 0 2px;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.carouselTopRight {
    width: 280px;
    height: 210px;
}

.carouselTopRight {
    border: 1px solid #fb8c00;
    background-image: url('https://warthunder.com/assets/img/jpg/widget-shop_big.jpg');
    display: flex ;
    justify-content: center;
    align-items: end;
    transition: background-size 1s ease;
    background-size: 100%;
    background-position: center center;
}

.carouselTopRight:hover {
    border: 1px solid #fb8c00;
    background-image: url('https://warthunder.com/assets/img/jpg/widget-shop_big.jpg');
    display: flex ;
    justify-content: center;
    align-items: end;
    transition: all .3s ease;
    overflow: hidden;
    /* animation: zoomer 1s ease-in-out infinite; */
    box-shadow: 0 0 10px #fb8c00;
    transition: background-size 1s ease;
    background-size: 102%;
}

.carouselTopRightText {
    width: 100%;
    color: #fb8c00;
    display: flex ;
    justify-content: space-between;
}
.shopLeft {
    position: relative;
    bottom: 20px;
    left: 20px;
    font-size: 24px;
}

.carouselTopRightIcon {
    width: 40%;
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 20px;
    right: 20px;
}

.storeIcon {
    height: 20px;
    width: 45px;
    filter:  invert(100%) brightness(50%) sepia(100%);
    -webkit-filter: invert(100%) brightness(40%) sepia(100%) hue-rotate(0deg) saturate(500%);
}

.carouselBottomRight {
    color: #90a4ae;
    border: 1px solid #90a4ae;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselBottomRight:hover {
    color: #cfd8dc;
    border: 1px solid #cfd8dc;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.wrapper {
    overflow: hidden;
  }
  div.wrapper > div {
    width: 100%;
    height: 100%;
    transition: background-size 4s ease;
    background-size: 100%;
    background-position: center center;
  }
  div.wrapper:hover > div {
    background-size: 120%;
  }
  .inner {
    background-image: url('https://warthunder.com/assets/img/jpg/widget-shop_big.jpg');
    width: 200px;
    height: 200px;
  }